body{
	width: 100%;
	height: auto;
	margin: 0;
}

header{
	background: #092170;
	color: white;
	font-size: 15px;
	font-family: "Harabara Mais Light";
	padding: 10px 10px 10px 50px;
	margin: auto;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

.logo{
	width: 100px;
	display: block;
	margin: auto;
	float: left;
}

nav ul {
	padding: 0 5%;
	list-style: none;
}

 nav li {
 	display: inline-block;
 	margin-left: 6%;
 	margin-right: 3%: 
 	position: relative;
	float: right;
 }
 nav a {
 	color: white;
 	text-decoration: none;
 	transition: .5s ease;
 }

 nav a:hover {
 	color: #DADDE5;
 }



* {box-sizing:border-box}
body {font-family: "Harabara Mais",sans-serif;margin:0}
.mySlides {display:none}

.slider{
	height: 10px;
}

/* Slideshow container */
.slideshow-container {
	background-size: cover;
	height: 20%;
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: thin;
  font-size: 60px;
  text-shadow: 2px 2px 10px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 45px;
  position: absolute;
  padding: 0% 0% 5% 5%;
  bottom: 8%;
  width: 100%;
  text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
  font-family: "Futura Md BT bold"
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  display: none;
  animation-duration: 1.5s;
}

.mySlides{
	height: 20%;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}




 .sobrenos {
    display:table;
 	align-self: center;
 	padding: 30px 30px 10px 50px;
 	margin: 5% 10% 5% 10%;
 	background-color: #F2F2F2;
 	text-align: justify;
 }

 .img_ej {
 	float: left;
 	width: 35%;
 	height: auto;
 	margin-right: 30px; 
    display:table-cell;             /*I added this*/
 }

h2 { 
	font-family: "Harabara Mais";
	text-align: top;
	display: inline-flex;
	color: #092170;
}

.oqueeaprosperejr{
 	width: 60%;
 	font-family: "Harabara Mais Light";
 	font-size: 20px;
 	display: inline-flex;
 }

.servicos{
	background: #092170;
	padding: 2% 8% 5% 10%;
	display: table;
	width: 100%;
}

.solucoes{
	color: white;
	font-family: "Harabara Mais Light";
	display: flex;
	justify-content: space-between;
	margin: 30px 0px 60px;
}

.card{
	background: white;
	border-radius: 12px;
	font-family: "Futura Md BT";
	font-size: 12px;
	padding: 20px 25px 15px 25px;
	margin-right: 3%;
	margin-top: 30px;
	width: 200px;
	float: left;
}

.icon{
	display: block;
	margin: auto;
	height: 64px;
	width: auto;
}

.botao{
	background: #092170;
	border-radius: 12px;
	border-style: none;
	width: 100%;
	height: 60px;
	color: white;
	font-family: "Futura Md BT";
	text-align: center;
}
.botaoformulario{
	background: #092170;
	border-style: solid;
	border-radius: 12px;
	width: 100%;
	height: 60px;
	color: white;
	font-family: "Futura Md BT";
	text-align: center;
}

.formulario{
	width: 60%;
}

.tituloMVV {
	font-size: 20px;
	font-family: "Futura Md BT";
	text-align: center;
	margin: 30px;
}

.valores {
	background: white;
	padding: 2% 8% 5% 10%;
	display: table;

}

.missaovisaovalores {
	background: white;
	padding: 80px 20px 15px 25px;
	display: table-cell;
}

.textoMVV {
 	text-align: justify;
	font-size: 18px;
	font-family: "Futura Md BT"
}

.secsao5{
	padding: 2% 8% 5% 10%;
	display: table;
}

.fixed-bg{
	background-image: url("imagens/background.jpg");
	min-height: 200px;
	background-attachment: fixed;
	background-position: center;
}

.parceiros{
	padding: 30px 20px 20px 20px;
	margin: 0px 0px 20px 80px;
	background: white;
	border-radius: 12px;
	float: left;
	width: 20%;
	height: 130px;
}

.imgsecsao5{
	display: block;
	margin: auto;
	width: auto;
	width: 100%;
}

.box {
	width:100%;
	margin:40px auto;
}
.effect7{
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	background-image: url(Imagens/background1.png);
	background-position: center;
}
.effect7:before, .effect7:after{
	content:"";
    position:absolute; 
    z-index: 99;
    box-shadow:0 0 100px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
} 
.effect7:after{
    right:10px; 
    left:auto; 
    transform:skew(8deg) rotate(3deg);
}

hr{
	display: block;
	align: top;
}

 footer {
 	font-family: "Harabara Mais";
 	background-color: #092170;
 	color: #F2F2F2;
 	width: 100%;
	height: 30%;
 }

input, textarea{
	display: block;
	border-radius: 12px;
	border-style: none;
	color: #F2F2F2;
	width: 100%;
	padding: 10px;
	background-color: #0754D1;
}
textarea{
	height: 80px;
}

.tituloContato{
	font-family: "Harabara Mais";
	text-align: top;
	display: inline-flex;
	color: #F2F2F2;
}

.logoFormulario{
	width: 30%;
}
.endereco{
	width: 30%;
}
.formulario{
	width: 30%;
	font-family: "Futura Md BT";
}
.contato{
	display: flex;
	background-color: #092170;
	width: 100%;
}

/*@media only screen and (max-width: 800px){
body{	
	background-color: blue;
}*/