

@media only screen and (max-width: 6500px){
  .mobile{
    display: block;
    margin: auto;
  }
  .cardsServicos{

    width: 60%;
    padding: 0 15% 0 15%;
  }
  .card{
    margin: auto;
    padding: 5% 5% 5% 5%;
    background: white;
    border-radius: 12px;
    font-family: "Futura Md BT";
    font-size: 12px;
    width: 200px;
    height: auto;
    text-align: justify !important;
  }

  .icon{
    display: block;
    margin: auto;
    height: 64px;
    width: auto;
  }
  .botao{
    background: #092170;
    border-radius: 12px;
    border-style: none;
    width: 100%;
    height: 60px;
    color: white;
    font-family: "Futura Md BT";
    text-align: center;
  }
  * {box-sizing:border-box}
  body {font-family: Verdana,sans-serif;margin:0}
  .mySlides {display:none}

  /* Slideshow container */
  .slideshow-container {
    position: relative;
    margin: auto;
    background: #092170;
    padding: 5% 5%;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
}