<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Prospere Júnior</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link href="https://fonts.googleapis.com/css?family=Comfortaa|Questrial" rel="stylesheet">
	</head>
	<body>
		<div class="nav">
			<label for="toggle" id="button">&#9776;</label>
			<div><img src="imagens/logo.png" class="logo"></div>
			<input type="checkbox" id="toggle">
			<div class="menu">
				<div class="titulo">Prospere JR.</div>
				<a  onclick="getCurrentYPosiion(); initScroll('home'); return false" href="#">Home</a>
				<a onclick="getCurrentYPosiion(); initScroll('sobrenos'); return false" href="#">Sobre nós</a>
				<a onclick="getCurrentYPosiion(); initScroll('servicos'); return false" href="#">Portifólio de serviços</a>
				<a onclick="getCurrentYPosiion(); initScroll('valores'); return false" href="#">Valores</a>
				<a onclick="getCurrentYPosiion(); initScroll('parceiros'); return false" href="#">Parceiros</a>
				<a onclick="getCurrentYPosiion(); initScroll('contato'); return false" href="#">Contato</a>
			</div>
		</div>
		<a id="home"></a>
			<div class="slideshow-container">
				<div class="mySlides fade">
				  <img src="imagens/slider1.jpg" class="imgslider">
				  <div class="text">PESQUISA DE SATISFAÇÃO</div>
				  <div class="subtext">Seu cliente está satisfeito? Mensurar o nível de satisfação dos seus 	clientes é importante para identificar os pontos de
					melhoria e corrigi-los.</div>
				</div>
				<div class="mySlides fade">
				  <img src="imagens/slider2.jpg" class="imgslider">
				  <div class="text">PESQUISA DE MERCADO</div>
				  <div class="subtext">Quer reduzir as incertezas? No mundo dos negócios, é preciso ter propriedade sobre o segmento em que atua, para ter vantagem competitiva.</div>
				</div>
				<div style="text-align:center">
				  <span class="dot" onclick="currentSlide(1)"></span> 
				  <span class="dot" onclick="currentSlide(2)"></span> 
				</div>
				<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
				<a class="next" onclick="plusSlides(1)">&#10095;</a>
		</div>

		<br>

		<a name="sobrenos"></a>
				<a id="sobrenos"></a>
		<div class="quemsomos">
			<div class="sobrenos">
				<img src="Imagens/ej.jpg" class="img_ej" alt="Foto da equipe Prospere Júnior">
				<h2 class="sobreaprospere">QUEM SOMOS NÓS?</h2>
				<p class="oqueeaprosperejr">A Prospere, empresa de consultoria júnior da Universidade Federal do Vale do São Francisco,	formada por estudantes do curso de Administração, com o objetivo de promover uma oportunidade prática aos seus colaboradores junto com a satisfação de seus clientes.
					<br>
				Atuamos na Região do Vale do São Francisco (Petrolina e Juazeiro), realizando projetos voltados ao âmbito empresarial, para aprimorar e auxiliar nossos clientes para que alcancem o sucesso.</p>
			</div>
		</div>
		
		<a id="servicos"></a>
		<div class="servicos">
			<h2 class="solucoes">PORTFÓLIO DE SERVIÇOS</h2>
			<div class="cardsServicos">
				<div class="alinharcard">
					<div class="card">
						<img src="Imagens/icon14.svg" alt="Imagem representando Diagnóstico Organizacional" class="icon">
						<hr>
						<h4 class="titulocard">Diagnóstico Organizacional <br> GP</h4>
						<p class="textocard">A avaliação do Clima Organizacional é feita por meio de pesquisas, estudos e censo junto ao público interno. Com objetivo de identificar os aspectos críticos que afetam a motivação dos funcionários da empresa.
						</p>
						<a onclick="getCurrentYPosiion(); initScroll('contato'); return false" href="#"><button class="botao">ENTRE EM CONTATO</button></a>
					</div>
					<div class="card">
						<img src="Imagens/icon2.png" alt="Imagem representando projetos" class="icon">
						<hr>
						<h4 class="titulocard">Pesquisa de Mercado <br> PROJETOS</h4>
						<p class="textocard">A pesquisa de mercado tem por objetivo a coleta de dados e informações sobre determinado mercado, que irão auxiliar nas tomadas de decisão, administração e rumos da empresa.
						</p>
						<a onclick="getCurrentYPosiion(); initScroll('contato'); return false" href="#"><button class="botao">ENTRE EM CONTATO</button></a>
					</div>
					<div class="card">
						<img src="Imagens/icon3.png" alt="Imagem representando marketing" class="icon">
						<hr>
						<h4 class="titulocard">Modelagem de Negócios <br> PROJETOS</h4>
						<p class="textocard">Foca a validação de um modelo de negócio ou um produto específico frente às demandas do mercado e do público-alvo.
						</p>
						<a onclick="getCurrentYPosiion(); initScroll('contato'); return false" href="#"><button class="botao">ENTRE EM CONTATO</button></a>
					</div>
				</div>
				<div class="alinharcard">
					<div class="card">
						<img src="Imagens/icon1.png" alt="Imagem representando controle/fluxo de caixa" class="icon">
						<hr>
						<h4 class="titulocard">Controle/Fluxo de Caixa <br> FINANCEIRO</h4>
						<p class="textocard">Instrumento gerencial que controla e informa todas as movimentações financeiras, como entradas e saídas de valores em determinado período.
						</p>
						<a onclick="getCurrentYPosiion(); initScroll('contato'); return false" href="#"><button class="botao">ENTRE EM CONTATO</button></a>
					</div>
					<div class="card">
						<img src="Imagens/icon15.svg" alt="Imagem representando avaliação de atendimento" class="icon">
						<hr>
						<h4 class="titulocard">Avaliação de Atendimento <br> Marketing</h4>
						<p class="textocard">Identifica os pontos de melhoria ligados ao atendimento e elaboração de possíveis soluções para as empresas.
						</p>
						<a onclick="getCurrentYPosiion(); initScroll('contato'); return false" href="#"><button class="botao">ENTRE EM CONTATO</button></a>
					</div>
					<div class="card">
						<img src="Imagens/icon16.svg" alt="Imagem representando avaliação de satisfação do cliente" class="icon">
						<hr>
						<h4 class="titulocard">Avaliação de Satisfação do Cliente <br> Marketing</h4>
						<p class="textocard">Mensura os níveis de satisfação do cliente para com processos, produtos e serviços ou outras dimensões, apresentando informações necessárias para identificação dos pontos de melhoria e de possíveis ações para corrigi-los.
						</p>
						<a onclick="getCurrentYPosiion(); initScroll('contato'); return false" href="#"><button class="botao">ENTRE EM CONTATO</button></a>
					</div>
				</div>
			</div>
		</div>
		
		<a id="valores"></a>
		<div class="valores">
			<div class="missaovisaovalores">
				<img src="Imagens/icon5.png" alt="Imagem representando missão" class="icon">
				<p class="tituloMVV">MISSÃO</p>
				<p class="textoMVV">Oferecer soluções empresariais de forma inovadora, criativa e sustentável, com o objetivo de promover o aprendizado contínuo dos colaboradores, agregando valor ao meio acadêmico e à sociedade.</p>
			</div>
			<div class="missaovisaovalores">
				<img src="Imagens/icon6.png" alt="Imagem representando visão" class="icon">
				<p class="tituloMVV">VISÃO</p>
				<p class="textoMVV">Ser reconhecida na comunidade empresarial e acadêmica do Vale do São Francisco, pela excelência no desenvolvimento de soluções empresariais e na promoção do aprendizado contínuo.</p>
			</div>
			<div class="missaovisaovalores">
				<img src="Imagens/icon7.png" alt="Imagem representando valores" class="icon">
				<p class="tituloMVV">VALORES</p>
				<p class="textovalores">1. Compromisso com Resultados<br>
					2. Sinergia<br>
					3. Paixão pelo que fazemos<br>
					4. Espírito Empreendedor<br>
					5. Inconformismo e busca<br>pela excelência<br>
					6. Foco no Cliente<br>
					7. Pró-Atividade.</p>
			</div>
		</div>
		<a id="parceiros"></a>
		<div class="box">
			<div class="fixed-bg">
				<div class="secsao5">
					<h2 class="solucoes">PARCEIROS</h2>
					<div class="espacamento">
						<div class="parceiros">
							<img src="Imagens/parceiro1.png" alt="Imagem representando parceiros" class="imgsecsao5">
						</div>
						<div class="parceiros">
							<img src="Imagens/parceiro2.png" alt="Imagem representando parceiros" class="imgsecsao5">
						</div>
						<div class="parceiros">
							<img src="Imagens/parceiro3.png" alt="Imagem representando parceiros" class="imgsecsao5">
						</div>
					</div>
				</div>
			</div>
		</div>

		<a id="contato"></a>
				<div class="contato">
			<div class="logoFormulario"><img src="Imagens/logo.png" class="logocontato" alt="Logo Prospere Júnior"></div>
			<div class="endereco">
				<h2 class="tituloContato">PROSPERE JÚNIOR</h2>
				<div class="organizar"><img class="iconContato" src="Imagens/icon8.svg" alt="Icone de local">
					<p class="textoContato">Av. José de Sá Maniçoba, s/n, Centro<br>Petrolina - PE</p></div>
				<div class="organizar"><img class="iconContato" src="Imagens/icon9.svg" alt="Icone de e-mail">
					<p class="textoContato">contato@univasfjunior.com</p></div>
				<div class="organizar"><img class="iconContato" src="Imagens/icon10.svg" alt="Icone de telefone">
					<p class="textoContato">(087) 9 8842-0058</p></div>
			</div>
			<div class="formulario">
				<h2 class="tituloContato">CONTATO</h2>
				<form method="post">
					<input type="text" name="nome" placeholder="Nome e Sobrenome" required="required"><br>
					<input type="text" name="e-mail" placeholder="E-mail" required="required">
					<br>
					<input type="" name="assunto" placeholder="Assunto">
					<br>
					<textarea placeholder="Mensagem"></textarea>
					<br>
					<button class="botaoformulario">Enviar</button>
				</form>
			</div>
		</div>
			<div class="contato1">
				<hr class="linhafooter">
				<div class="alinhar">
					<div class="paragrafo"><p class= "copyright">© 2017 UNIVASF Júnior - Todos os direitos reservados</p></div>
					<div class="directioncolumn"><img src="imagens/icon11.svg" style="width: 20px" class="iconContato1">
					<img src="imagens/icon12.svg" style="width: 20px" class="iconContato1">
					<img src="imagens/icon13.svg" style="width: 20px" class="iconContato1"></div>
				</div>
			</div>
		
		<script type="text/javascript">

var btn = document.getElementById('button');
btn.onclick = function() {
  var menu = document.getElementById('navbar');
  menu.classList.toggle('open');
}
			
var slideIndex = 1;
showSlides(slideIndex);
// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}
// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}
function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1} 
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {

      slides[i].style.display = "none"; 

  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block"; 
  dots[slideIndex-1].className += " active";
}

var marginY = 0;
var destination = 0;
var speed = 15;
var scroller = null;
var sinal = 1;

function getCurrentYPosiion(){
		var doc = document.documentElement;
		marginY = (window.pageYOffset || doc.scrollTop)  - (doc.clientTop || 0);
}

function initScroll(elementId){
	destination = document.getElementById(elementId).offsetTop;
	
	scroller=setTimeout(function(){
			initScroll(elementId);
	}, 1);

	if (Math.abs(marginY - destination) > speed) {
		if (marginY - speed > destination) {
			marginY = marginY - speed;
		} else if(marginY + speed < destination) {
			marginY = marginY + speed;	
		}
	}

	if (Math.abs(marginY - destination) <= speed) {
		clearTimeout(scroller);
		scroller = null;
	} 

	window.scroll(0, marginY);

	//console.log(destination);
}

/*document.getElementsByTagName('button')[0].onclick = function () {
   scrollTo(document.body, 0, 1250);   
}
    
function scrollTo(element, to, duration) {
    var start = element.scrollTop,
        change = to - start,
        currentTime = 0,
        increment = 20;
        
    var animateScroll = function(){        
        currentTime += increment;
        var val = Math.easeInOutQuad(currentTime, start, change, duration);
        element.scrollTop = val;
        if(currentTime < duration) {
            setTimeout(animateScroll, increment);
        }
    };
    animateScroll();
}


Math.easeInOutQuad = function (t, b, c, d) {
  t /= d/2;
	if (t < 1) return c/2*t*t + b;
	t--;
	return -c/2 * (t*(t-2) - 1) + b;
};*/


		</script>


	</body>
</html>